.field-unit {
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
  position: relative;
  width: 100%;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.field-unit__label {
  @include span-columns(2 of 12);
  text-align: right;
}

.field-unit__field {
  @include span-columns(5 of 12);
}
